@using test0000001.Extensions;
@using test0000001.Helpers;
@using test0000001.Models.LifeInsurance
@model test0000001.Models.DTO.LifeInsurance.PackageOverviewDto

@{
    bool isPackageActivated = Model.PolicyHolder.Status!.Equals("Activated");
    bool descriptionCollapsable = ViewBag.DescCollapsable;
}

<!-- Package Infos Start -->
<section class="row mt-5">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        I. Package Information
    </div>
    <dl class="row">
        <dt class="col-sm-3">Policy Name</dt>
        <dd class="col-sm-9 text-uppercase fw-bold">@Model.Package?.Name</dd>

        <dt class="col-sm-3">Term</dt>
        <dd class="col-sm-9 fw-bold text-primary">@(Model.Package?.Duration?.Term / 12) years</dd>

        <dt class="col-sm-3">Premium</dt>
        <dd class="col-sm-9 fw-bold text-primary">@Model.Package?.Premium USD</dd>

        <dt class="col-sm-3">@(isPackageActivated ? "Effective" : "Intended effective") date</dt>
        <dd class="col-sm-9 fw-bold text-danger">
            @Model.PolicyHolder.StartDay.ToString("dd MMMM yyyy")
        </dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">
            @if (descriptionCollapsable)
            {
                <div class="accordion" id="accordionPackageDescription">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                    style="padding: 0.75rem 1rem;">
                                Click to Show
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPackageDescription">
                            <div class="accordion-body">
                                @Html.Raw(Model.Package?.Description)
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(Model.Package?.Description)
            }
        </dd>
    </dl>
</section>
<!-- Package Infos End -->
<!-- Insured Object Start -->
<section class="row mt-2">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        II. General Information
    </div>
    <dl class="row">
        <dt class="col-sm-3">Policyholder</dt>
        <dd class="col-sm-9 text-uppercase fw-bold">
            @(Model.User.FirstName + Model.User.LastName)
        </dd>

        <dt class="col-sm-3">Insured name</dt>
        <dd class="col-sm-9 text-primary text-uppercase fw-bold">
            @Model.InsuredObject.Name
        </dd>

        <dt class="col-sm-3">Relationship with Policyholder</dt>
        <dd class="col-sm-9">
            @foreach (var item in (InsuredRelation[])Enum.GetValues(typeof(InsuredRelation)))
            {
                <div class="form-check form-check-inline">
                    <input type="radio"
                           asp-for="@Model.InsuredObject.InsuredRelation"
                           id="InsuredRelation-@item"
                           value="@item"
                           readonly
                           class="form-check-input" />
                    <label for="InsuredRelation-@item"
                           class="form-check-label text-capitalize me-1">@item.GetDisplayName()</label>
                </div>
            }
        </dd>

        <dt class="col-sm-3">Relationship Detail (if any)</dt>
        <dd class="col-sm-9">@Model.InsuredObject.InsuredRelationDetail</dd>

        <dt class="col-sm-3">Date of Birth</dt>
        <dd class="col-sm-9">@Model.InsuredObject.DateOfBirth.ToString("dd MMMM yyyy")</dd>

        <dt class="col-sm-3">Gender</dt>
        <dd class="col-sm-9">
            @foreach (var item in (Gender[])Enum.GetValues(typeof(Gender)))
            {
                <div class="form-check form-check-inline">
                    <input type="radio"
                           asp-for="@Model.InsuredObject.Gender"
                           id="Gender-@item"
                           value="@item"
                           readonly
                           class="form-check-input" />
                    <label for="Gender-@item"
                           class="form-check-label text-capitalize me-1">@item</label>
                </div>
            }
        </dd>

        <dt class="col-sm-3">Marital Status</dt>
        <dd class="col-sm-9">
            @foreach (var item in (MaritalStatus[])Enum.GetValues(typeof(MaritalStatus)))
            {
                <div class="form-check form-check-inline">
                    <input type="radio"
                           asp-for="@Model.InsuredObject.MaritalStatus"
                           id="MaritalStatus-@item"
                           value="@item"
                           readonly
                           class="form-check-input" />
                    <label for="MaritalStatus-@item"
                           class="form-check-label text-capitalize me-1">@item</label>
                </div>
            }
        </dd>

        <dt class="col-sm-3">Citizen identification No. (ID)</dt>
        <dd class="col-sm-9">@Model.InsuredObject.PID</dd>

        <dt class="col-sm-3">ID issue Date</dt>
        <dd class="col-sm-9">@Model.InsuredObject.PidIssueDate.ToString("dd MMMM yyyy")</dd>

        <dt class="col-sm-3">ID issue Place</dt>
        <dd class="col-sm-9">@Model.InsuredObject.PidIssuePlace</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.InsuredObject.Email</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.InsuredObject.Phone</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.InsuredObject.Address</dd>
    </dl>
</section>
<!-- Insured Object End -->
<!-- Appraisal Infos Start -->
<section class="row mt-3">
    <div class="text-uppercase h5 border-bottom border-primary text-primary">
        III. Appraisal Information
    </div>
    <table class="table mt-2">
        <thead class="table-light">
            <tr>
                <th>
                    No.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppraisalInfos.AppraisalInfos[0].Description)
                </th>
                <th style="width: 22.5%">
                    @Html.DisplayNameFor(model => model.AppraisalInfos.AppraisalInfos[0].Answer)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.AppraisalInfos.AppraisalInfos.Count; i++)
            {
                <tr>
                    <td class="align-baseline">
                        @(i + 1)
                    </td>
                    <td class="align-baseline">
                        @Model.AppraisalInfos.AppraisalInfos[@i].Description
                        <input asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].Description" value="@Model.AppraisalInfos.AppraisalInfos[@i].Description" hidden>
                        @if (Model.AppraisalInfos.AppraisalInfos[@i].DescriptionType.Equals(DescriptionType.yesNo))
                        {
                            <div class="mt-2">
                                @Model.AppraisalInfos.AppraisalInfos[@i].DescriptionDetail
                                <input asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].DescriptionDetail" value="@Model.AppraisalInfos.AppraisalInfos[@i].DescriptionDetail" hidden>
                                <br />
                                <div class="form-group">
                                    <textarea asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].DetailAnswer"
                                              class="form-control"
                                              rows="2"
                                              readonly
                                              rules="requiredIf:AppraisalInfos[@i].Answer,yes"></textarea>
                                    <span asp-validation-for="@Model.AppraisalInfos.AppraisalInfos[@i].DetailAnswer" class="text-danger form-message"></span>
                                </div>
                            </div>
                        }
                    </td>
                    <td class="align-baseline">
                        <input asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].DescriptionType" value="@Model.AppraisalInfos.AppraisalInfos[@i].DescriptionType" hidden>
                        @if (Model.AppraisalInfos.AppraisalInfos[@i].DescriptionType.Equals(DescriptionType.yesNo))
                        {
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input type="radio"
                                           asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].Answer"
                                           id="AppraisalInfos[@i].Answer_yes"
                                           value="yes"
                                           class="form-check-input"
                                           readonly
                                           rules="required" />
                                    <label for="AppraisalInfos[@i].Answer_yes"
                                           class="form-check-label text-capitalize me-1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio"
                                           asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].Answer"
                                           id="AppraisalInfos[@i].Answer_no"
                                           value="no"
                                           class="form-check-input"
                                           readonly
                                           rules="required" />
                                    <label for="AppraisalInfos[@i].Answer_no"
                                           class="form-check-label text-capitalize">No</label>
                                </div>
                                <br />
                                <span asp-validation-for="@Model.AppraisalInfos.AppraisalInfos[@i].Answer" class="text-danger form-message"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">

                                <input type="text"
                                       asp-for="@Model.AppraisalInfos.AppraisalInfos[@i].Answer"
                                       class="form-control form-control-sm"
                                       readonly
                                       rules="required" />
                                <span asp-validation-for="@Model.AppraisalInfos.AppraisalInfos[@i].Answer" class="text-danger form-message"></span>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<!-- Appraisal Infos End -->