@using test0000001.Extensions;
@using test0000001.Helpers;
@model IEnumerable<test0000001.Models.Policyholder>

@{
    ViewData["Title"] = "Life Insurance";
    var dueCounts = ViewBag.DueCounts as List<test0000001.Models.DTO.LifeInsurance.DuePaymentCountDto>;
}

@section Css {
    <style>
        .my-service-item {
            background: rgb(255,255,255);
            background-size: cover;
        }

        dt {
            font-weight: normal;
        }

        .bg-warning {
            color: #212529 !important;
        }
    </style>
}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">Life Insurance Subscriptions</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="/LifeInsurance">Life Insurance Subscriptions</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 750px">
            <h1 class="display-6 mb-5">
                This is where you will find out the whole Life Insurance packages which you've subscribed so far.
            </h1>
        </div>
        @if (dueCounts?.Count() > 0)
        {
            <div class="row g-4 justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="badge bg-danger p-3 mb-5" style="width: fit-content; border-radius: 5px;">
                    You have total @dueCounts?.Count() subscription(s) have not been paid yet.
                    <span class="ms-1" style="background-color: hsla(0,0%,100%,.25)!important; color: #fff; padding: .35em .8em; border-radius: 50%;"> ! </span>
                </div>
            </div>
        }
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
            {
                var dueCount = dueCounts?
                .FirstOrDefault(m => m.PolicyHolderId.Equals(item.Id))
                ?.DueCount;

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="@item.Policy?.Image"
                                 alt="Card image cap" style="height: 20rem" />
                            <div class="card-body">
                                <h4 class="card-title">@item.Policy?.Name - @item.LifeInsuredObject?.Name (@item.LifeInsuredObject?.DateOfBirth.GetCurrentAge() yrs)</h4>
                                <p class="card-text">
                                    <dl class="row">
                                        <dt class="col-sm-4">Term</dt>
                                        <dd class="col-sm-8 fw-bold">@(item.Policy?.Duration?.Term / 12) years</dd>

                                        <dt class="col-sm-4">Premium</dt>
                                        <dd class="col-sm-8 fw-bold">@item.Policy?.Premium USD</dd>

                                        <dt class="col-sm-4">Effect date</dt>
                                        <dd class="col-sm-8 fw-bold">@item.StartDay.ToString("dd MMMM yyyy")</dd>

                                        <dt class="col-sm-4">Status</dt>
                                        <dd class="col-sm-8">
                                            <span class="badge @Html.PolicyStatusCss(item.Status)">@item.Status</span>
                                        </dd>
                                        @if (dueCount > 0)
                                        {
                                            <dt class="col-sm-4">
                                                <span class="badge bg-danger rounded" style="font-weight: normal;">Due payments</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <span class="badge bg-danger rounded-pill">@dueCount</span>
                                            </dd>
                                        }
                                    </dl>
                                </p>
                                <a href="/LifeInsuranceHolder/Details/@item.Id" class="btn btn-outline-primary block">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->