@model test0000001.Models.Policyholder;

@{
    ViewData["Title"] = "Health Insurance - Sign Up";
    var policies = ViewBag.Policy;
    bool isFirstItem = true;

}
<style>
    fieldset {
        padding: 10px;
        position: relative;
    }

    legend {
        position: absolute;
        top: -20px;
        background-color: #ffffff;
        padding: 0 10px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 30%;
    }

    .bg-custom-blue {
        background-color: #0C0095;
    }

    label {
        width: 100%;
    }

    .buy-check, .gender-check {
        display: none;
    }

    .card-input-element, .card-input-gender-element {
        display: none;
    }

    .card-input {
        margin: 10px;
        padding: 00px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transition: 1s;
    }

        .card-input:hover {
            cursor: pointer;
        }

    .card-input-element:checked + .card-input, .card-input-gender-element:checked + .card-input {
        box-shadow: 0 0 1px 1px green;
        transition: 1s;
    }

        .card-input-element:checked + .card-input .card-header .buy-check, .card-input-gender-element:checked + .card-input .card-body .gender-check {
            display: inline-block;
            color: green;
            position: absolute;
            right: 10px;
        }

    .w-15 {
        width: 15%;
    }

    .health-input-inform.active {
        position: relative;
        opacity: 0.65;
        pointer-events: none;
    }
</style>

<div class="container-xxl">
    <h1 class="text-center m-5">Health Insurance Sign Up Form</h1>
    <div id="health-form-warn" class="col-12 text-center text-danger d-none mb-5">*Information is missing, please kindly cancel checking and carefully check again to make sure you have filled all fields before submitting!</div>
    <div id="health-form-pass" class="col-12 text-center text-success d-none mb-5">It seems like all the information has been filled in, please ensure that everything is correctly placed, if all are correct, don't hesitate to submit your information to get our best service!</div>
    @if (ViewBag.MsgSuccess != null)
    {
        <h3 class="text-success text-center border border-success rounded p-5">@ViewBag.MsgSuccess</h3>
        <div class="d-flex justify-content-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary">Back to home</a>
        </div>
    }
    @if (ViewBag.MsgError != null)
    {
        <h3 class="text-danger text-center border border-danger rounded p-5">@ViewBag.MsgError</h3>
        <div class="d-flex justify-content-center">
            <a asp-action="Index" asp-controller="HealthInsurance" class="btn btn-lg btn-primary">Back to Health Insurance</a>
        </div>
    }
    @if (ViewBag.Policies != null)
    {
        <form id="health-create-form" asp-action="Create" asp-controller="HealthInsurance" class="row g-3 was-validated" enctype="multipart/form-data">
            <fieldset class="border border-3 rounded shadow-sm bg-light pt-4 pb-3">
                <legend class="border border-2 rounded shadow bg-custom-blue text-light fs-3">Policy Option</legend>
                <div class="row health-input-inform">
                    @foreach (var item in ViewBag.Policies)
                    {
                        <div class="col-12 col-lg-3 p-2">
                            <label>
                                @if (isFirstItem)
                                {
                                    <input type="radio" asp-for="PolicyId" value="@item.Id" class="card-input-element" checked />
                                    isFirstItem = false;
                                }
                                else
                                {
                                    <input type="radio" asp-for="PolicyId" value="@item.Id" class="card-input-element" required />
                                }

                                <div class="card card-input px-0">
                                    <h5 class="card-header">
                                        <span class="float-start">@item.Name</span>
                                        <span class="buy-check float-end">&#10004;</span>
                                    </h5>
                                    <div class="card-body">
                                        <h5 class="card-title">@((item.Premium).ToString("C"))</h5>
                                        <p class="">
                                            <span class="fw-bolder text-dark">Term:</span> @(item.Duration.Term) (month)
                                            <br>
                                            <span class="fw-bolder text-dark">Period:</span> @(item.Duration.Term / item.Duration.TotalPeriod) (month/period)
                                            <br />
                                            <span class="fw-bolder text-dark">Total Period:</span> @(item.Duration.TotalPeriod) (period)
                                            <br />
                                            <span class="fw-bolder text-dark">Payment/Period:</span> @((item.Premium / item.Duration.TotalPeriod).ToString("C"))
                                        </p>
                                        <p class="card-text">@item.Description</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    }
                </div>
            </fieldset>

            <fieldset class="border border-3 rounded shadow-sm bg-light mt-5 pt-5 pb-3">
                <legend class="border border-2 rounded shadow bg-custom-blue text-light fs-3">Details</legend>
                @if (ViewBag.Purpose == "other")
                {
                    <div class="container-xxl health-input-inform">
                        <div class="mb-3 row">
                            <label class="col-sm-1 col-form-label">First Name</label>
                            <div class="col-sm-5">
                                <input type="text" name="objData[first_name]" class="form-control" required>
                            </div>
                            <label class="col-sm-1 col-form-label">Last Name</label>
                            <div class="col-sm-5">
                                <input type="text" name="objData[last_name]" class="form-control" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-1 col-form-label">Email</label>
                            <div class="col-sm-5">
                                <input type="email" name="objData[email]" class="form-control" required>
                            </div>
                            <label class="col-sm-1 col-form-label">ID Number</label>
                            <div class="col-sm-5">
                                <input min="1000000000" max="999999999999" pattern="\d{10,12}" type="number" name="objData[id_number]" class="form-control" required>
                                <span class="fs-6 text-warning">ID must be around 10 to 12 numbers</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-1 col-form-label">Address</label>
                            <div class="col-sm-5">
                                <input type="text" name="objData[address]" class="form-control" required>
                            </div>
                            <label class="col-sm-1 col-form-label">Phone</label>
                            <div class="col-sm-5">
                                <input min="1000000000" max="999999999999" type="number" name="objData[phone]" class="form-control" required>
                                <span class="fs-6 text-warning">Phone number must be around 10 to 12 numbers</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-1 col-form-label">DoB</label>
                            <div class="col-sm-5">
                                <input id="dob-input" type="date" name="objData[dob]" class="form-control" required min="@(DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd"))" max="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="return dobValidation();">
                                <span id="dob-warn" class="fs-6 text-warning d-none"></span>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3">
                            <label for="staticEmail" class="col-sm-1 col-form-label">Gender</label>
                            <label class="w-15">
                                <input type="radio" name="objData[gender]" value="man" class="card-input-gender-element" checked required />
                                <div class="card card-input px-0">
                                    <div class="card-body row fs-5">
                                        <div class="col-9 text-center">
                                            Man <i class="fa-solid fa-person"></i>
                                        </div>
                                        <span class="col-3 gender-check float-start">&#10004;</span>
                                    </div>
                                </div>
                            </label>
                            <label class="w-15">
                                <input type="radio" name="objData[gender]" value="woman" class="card-input-gender-element" required />
                                <div class="card card-input px-0">
                                    <div class="card-body row fs-5">
                                        <div class="col-lg-9 col-12 text-center">
                                            Woman <i class="fa-solid fa-person-dress"></i>
                                        </div>
                                        <span class="col-lg-3 col-12 gender-check float-start">&#10004;</span>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                }
                <div class="container-xxl health-input-inform row">
                    <div class="mb-3 col-6">
                        <label class="form-label">Front side of ID</label>
                        <input accept="image/*" type="file" name="idPhotos" data-photoo-side="Front" class="form-control" onchange="readFile(this)" required>
                        <div class="invalid-feedback">Accept only images</div>
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label">Back side of ID</label>
                        <input type="file" name="idPhotos" data-photoo-side="Back" class="form-control" onchange="readFile(this)" required>
                        <div class="invalid-feedback">Accept only images</div>
                    </div>
                    <img id="photooFront" class="col-6 d-none" src="" width="500" height="300" />
                    <img id="photooBack" class="col-6 d-none" src="" width="500" height="300" />
                </div>
            </fieldset>
            <input type="hidden" name="objData[purpose]" value="@ViewBag.Purpose" />

            @if (ViewBag.Question != null)
            {
                <fieldset class="border border-3 rounded shadow-sm bg-light mt-5 pt-5 pb-3">
                    <legend class="border border-2 rounded shadow bg-custom-blue text-light fs-3">Questions</legend>
                    <div class="container-xxl health-input-inform">
                        <div class="mb-3 row">
                            @foreach (var item in ViewBag.Question)
                            {
                                <div class="mb-3">
                                    <label class="form-label">@item.Content?</label>
                                    <input type="text" name="@item.Content" class="form-control" required>
                                </div>
                            }
                        </div>
                    </div>
                </fieldset>
            }

            <div class="mt-4 mb-1">
                <ul>
                    <span class="fw-bold fs-5">1. Payment and Contract Termination:</span>
                    <li>If you fail to make payment for the service fee within 3 days from the due date, we reserve the right to unilaterally terminate the contract.</li>
                    <li>If you have purchased the service for yourself, you cannot make additional purchases for yourself until your current contract expires.</li>
                    <li>If you have purchased the service for someone else and wish to make additional purchases for them, you also cannot do so until the current contract expires.</li>
                </ul>
                <ul>
                    <span class="fw-bold fs-5">2. Contract Details:</span>
                    <li>Please carefully read all details within the contract before registering. We are not responsible for inaccuracies or incorrect information within your contract.</li>
                </ul>
                <ul>
                    <span class="fw-bold fs-5">3. Security and Safety::</span>
                    <li>Protect your account information and do not share it with others. We are not responsible for unauthorized access to your account due to lax security practices.</li>
                </ul>
                <ul>
                    <span class="fw-bold fs-5">4. Compliance and Conduct:</span>
                    <li>We require all users to comply with regulations and current laws.</li>
                    <li>Deliberate destruction or violation of these rules may result in the permanent suspension of your account on our website.</li>
                </ul>
                <p>Thank you for using our service and adhering to these guidelines for the best possible experience. We reserve the right to modify these rules without prior notice.</p>
            </div>

            <div class="mb-3 form-check form-confirm-checkbox">
                <input type="checkbox" class="form-check-input" required>
                <label class="form-check-label">I solemnly affirm that all the information above is truthful and accurate. In the event of any discrepancies resulting from incorrect information, I take full responsibility.</label>
            </div>

            <div class="col-12 text-center">
                <a id="cancelButton" class="btn btn-lg btn-outline-danger d-none">Cancel check form</a>
                <a id="checkButton" class="btn btn-lg btn-outline-primary">Check form</a>
                <button id="submitButton" class="btn btn-lg btn-outline-primary d-none" type="submit">Submit form</button>
            </div>
        </form>
    }
    <a asp-action="Index" asp-controller="HealthInsurance" class="btn btn-secondary">Back to Health Insurance</a>
</div>

<script>
    window.addEventListener('keydown', function (e) {
        if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
            if (e.target.nodeName == 'INPUT') {
                e.preventDefault();
                return false;
            }
        }
    }, true);

    const myForm = document.querySelector("#health-create-form");
    const inputs = myForm.getElementsByTagName("input");
    
    function dobValidation(){
        const dob = document.getElementById("dob-input").value;
        const dobWarn = document.getElementById("dob-warn");

        let birthDate = new Date(dob);
        let today = new Date();
        let age = today.getFullYear() - birthDate.getFullYear();
        if (age = 0 || age > 80) {
            dobWarn.textContent = "Age must be greater than 0 and less than 80";
            dobWarn.classList.remove("d-none");
            dobWarn.classList.add("d-block");
            return false;
        }

        if(age < 0){
            dobWarn.textContent = "DoB must be smaller than " + today;
            dobWarn.classList.remove("d-none");
            dobWarn.classList.add("d-block");
            return false;
        }

        return true;
    }
    
    function readFile(input) {
        let file = input.files[0];
        const imgTag = document.getElementById("photoo" + input.getAttribute("data-photoo-side"));

        if (!file.type.startsWith('image/')) {
            input.value = "";
            imgTag.src = "";
            imgTag.classList.remove("d-block");
            imgTag.classList.add("d-none");
            return;
        } else { 
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                imgTag.classList.remove("d-none");
                imgTag.classList.add("d-block");
                imgTag.src = reader.result;
            };
        } 
    };

    document.querySelector("#checkButton").addEventListener("click", function (e) {
        e.preventDefault();
        let allFieldsFilled = true;

        $("html, body").animate({
            scrollTop: $("#health-form-warn").offset().top
        }, 200);

        $(".health-input-inform").each(function (index, element) {
            $(element).addClass("active");
            $(element).find("input").attr("readonly", true);
        });

        $(".form-confirm-checkbox").find("input").attr("disabled", true);

        for (var i = 0; i < inputs.length; i++) {
            if ((inputs[i].type === "text" || inputs[i].type === "number" || inputs[i].type === "date") && inputs[i].value.trim() === "") {
                allFieldsFilled = false;
                break;
            }
            if (inputs[i].type === "checkbox" && !inputs[i].checked) {
                allFieldsFilled = false;
                break;
            }
            if (inputs[i].type === "file" && inputs[i].files.length <= 0) {
                allFieldsFilled = false;
                break;
            }
        }

        if (allFieldsFilled) {
            $("#submitButton").prop("disabled", false);
            $("#health-form-pass").removeClass("d-none");
            $("#health-form-pass").addClass("d-inline-block");
        } else {
            $("#submitButton").prop("disabled", true);
            $("#health-form-warn").removeClass("d-none");
            $("#health-form-warn").addClass("d-inline-block");
        }

        $("#submitButton").removeClass("d-none");
        $("#submitButton").addClass("d-inline-block");
        $("#cancelButton").removeClass("d-none");
        $("#cancelButton").addClass("d-inline-block");
        $(this).addClass("d-none");
    });

    document.querySelector("#cancelButton").addEventListener("click", function (e) {
        e.preventDefault();
        $(this).addClass("d-none");
        $(".health-input-inform").each(function (index, element) {
            $(element).removeClass("active");
            $(element).find("input").attr("readonly", false);
        });
        $(".form-confirm-checkbox").find("input").attr("disabled", false);
        $("#checkButton").removeClass("d-none");
        $("#checkButton").addClass("d-inline-block");
        $("#submitButton").removeClass("d-inline-block");
        $("#submitButton").addClass("d-none");
        $("#health-form-warn").removeClass("d-inline-block");
        $("#health-form-warn").addClass("d-none");
        $("#health-form-pass").removeClass("d-inline-block");
        $("#health-form-pass").addClass("d-none");
    });

    document.querySelector("#submitButton").addEventListener("click", function(e){
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Once submitted, you will not be able to edit this form!",
            icon: "info",
            buttons: true,
        })
            .then((isAccept) => {
                if (isAccept) {
                    document.querySelector("#health-create-form").submit();
                }
            });
    });
</script>